.semanaBox{
    background-color: #fff;
    border-radius: 15px;
    margin: 15px;
}
.semanaBox:hover{
    background-color: darkgray;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    transform: translate(5px, 0);
    box-shadow: 3px 3px black;
}
.semanaRow{
    display: flex;
    justify-content: center;
    align-items: center;
}